@import url(./globalStyles.css);

#section__filter__container {

    display: flex;
    flex-direction: column;
    gap: 4rem;

    margin-top: 1.6rem;
    padding: 1.6rem 0;

}

.section__filter__title {

    font-size: 2.4rem;
    font-weight: bold;

    color: var(--gray-2);

}

.section__filter__genres {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;

}

.genres {

    outline: none;
    border: solid .1rem transparent;
    border-radius: .4rem;
    padding: 1rem 1.1rem;

    
    font-size: 1.4rem;
    font-weight: 600;
    
    cursor: pointer;
    
    transition: background .2s;

    background-color: var(--gray-6);
    color: var(--gray-3);

}

.genres:hover,
.genres:focus {

    background-color: var(--gray-2);
    color: var(--gray-7);
    
}
